body {
  font-family: Verdana;
  color: #333333;
}



/****************************************************************************
Styles for the Structural Blocks
****************************************************************************/

#page_wrapper {
  width: 1000px;
  margin: auto;
}

#page_wrapper a {
  color: #9e0505;
  text-decoration: none;
}

#page_wrapper a:hover {
  color: #C9A227;
  text-decoration: underline;
}

#header {
  height: 150px;
  border-bottom: 4px #C9A227 solid;
  color: #9e0505;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}

#content {
  min-height: 500px;
  padding: 20px;
  background-color: #fff;
}

#form-table {
  font-size: 12px;
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  border-collapse: collapse;
}

#footer {
  height: 100px;
  border-top: 4px #C9A227 solid;
  color: #9e0505;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}